<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">客户端策略</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Modal -->
<script type="text/ng-template" id="clientJobModal.html">
        <div class="modal-header">
            <h3 class="modal-title">{{type}}客户端策略</h3>
        </div>
        <div class="modal-body">
            <div class="form-group input-group"  uib-tooltip="执行周期">
              <span class="input-group-addon">
                <i class="fa fa-clock-o fa-fw"></i></span>
              <input type="number" ng-model="clientJobperiod" class="form-control" placeholder="执行周期"/>
              <span class="input-group-addon">天</span>
            </div>
            <div class="form-group input-group"  uib-tooltip="动作">
              <span class="input-group-addon">
                <i class="fa fa-book fa-fw"></i>
              </span>
              <select ng-model="clientJob.type" class="form-control" ng-options="(+k) as v for (k, v) in actions">
              </select>
            </div>
            <div class="form-group input-group"  uib-tooltip="保留时长">
              <span class="input-group-addon">
                <i class="fa fa-clock-o fa-fw"></i></span>
              <input ng-model="clientJobreservedtime" class="form-control" placeholder="保留时长"/>
              <span type="numer" class="input-group-addon">天</span>
            </div>
            <div class="form-group input-group"  uib-tooltip="绑定主机">
              <span class="input-group-addon">
                <i class="fa fa-laptop fa-fw"></i>
              </span>
              <select multiple ng-model="selectedHosts" class="form-control" ng-options="host.id as host.name for host in hosts">
              </select>
            </div>
            <div class="form-group input-group"  uib-tooltip="绑定路径">
              <span class="input-group-addon">
                <i class="fa fa-folder-open-o fa-fw"></i>
              </span>
              <select multiple ng-model="selectedPaths" class="form-control" ng-options="path.id as path.path for path in paths">
              </select>
            </div>

            <div class="notify fadein" ng-class="modalInfoFadein">
              <div class="alert alert-warning">
                <i class="fa fa-warning fa-fw"></i> {{modalInfoMsg}}
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="doJob()">
                <i class="fa fa-fw" ng-class="jobType"></i> {{job}}
            </button>
            <button class="btn btn-default" ng-click="cancel()">
                <i class="fa fa-remove fa-fw"></i> 取消
            </button>
        </div>
</script>

<div class="row">
    <button type="button" class="btn btn-primary" ng-click="clientJobEdit('new')">
        <i class="fa fa-plus fa-fw"></i> 新增
    </button>
    <table class="col-lg-12 table table-striped">
        <thead>
            <th></th>
            <th>执行周期</th>
            <th>动作</th>
            <th>保留时长</th>
            <th>主机</th>
            <th>路径</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="clientJob in clientJobs">
                <td class="table-td-padding"></td>
                <td class="table-td-padding">{{(clientJob.period/86400).toFixed()}} 天</td>
                <td class="table-td-padding">{{actions[clientJob.type]}}</td>
                <td class="table-td-padding">{{(clientJob.reservedtime/86400).toFixed()}} 天</td>
                <td class="table-td-padding">
                  <ul class="list-unstyled list-no-margin">
                    <li ng-repeat="h in clientJob.hosts">{{h.name}}</li>
                  </ul>
                </td>
                <td class="table-td-padding">
                  <ul class="list-unstyled list-no-margin">
                    <li ng-repeat="p in clientJob.paths">{{p.path}}</li>
                  </ul>
                </td>
                <td style="text-align:right">
                    <button type="button" class="btn btn-default" ng-click="clientJobEdit('modify', clientJob)">
                        <i class="fa fa-pencil fa-fw"></i> 修改
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="delete(clientJob)">
                        <i class="fa fa-trash fa-fw"></i> 删除
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
